{% load static tailwind_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Pedia</title>
    {% tailwind_css %}
</head>
<body>
    <div class='grid grid-cols-3 gap-4 p-3'>
        {% for cat in all_cats.data.data %}
        <div class='w-full p-3 rounded-xl border-none  shadow-2xl'>
            <div class='w-full h-[20rem]'>
                <img src={{cat.image}} alt="cat image" class='w-full rounded-lg h-full'>
            </div>
            <div class='w-full p-3'>
                    <h1 class='text-lg'>
                     <span class='font-bold'>Cat Breed </span>:- {{cat.name}}
                    </h1>
                    <h1 class='text-lg'>
                     <span class='font-bold'>Cat Temparament </span>:- {{cat.temperament}}
                    </h1>
                    <h1 class='text-lg'>
                     <span class='font-bold'>Cat Origin </span>:- {{cat.origin}}
                    </h1>
                    <a href="{% url 'individual_cat' cat.id %}" class='mt-4 block text-center bg-black rounded-xl text-white p-3'>Read more</a>
             </div>
        </div>
{% endfor %}
</div>
</body>
</html>