{% load static tailwind_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Cat</title>
    {%tailwind_css%}
</head>
<body class='flex justify-center items-center h-screen w-full text-black'>
    <div>

        <div class='w-[100%] rounded-xl border-none shadow-2xl p-5 flex justify-between items-center gap-5'>
            <img src="{{single_cat.data.image}}" alt="cat image" class='w-[30rem] h-[20rem] rounded-xl'>
        <div>
            <h1>Name:- {{single_cat.data.name}}</h1>
            <h1>Weight:- {{single_cat.data.weight.imperical}} kgs</h1>
            <h1>Origin:- {{single_cat.data.origin}}</h1>
            <h1>Life Span:- {{single_cat.data.life_span}} years</h1>
            <p>Description :- <br>{{single_cat.data.description}}</p>
            
            <h1>Abilities</h1>
            <div>
                <h2>Affectionate:-{{single_cat.data.affection_level}}</h2>
                <h2>Child Friendly:-{{single_cat.data.child_friendly}}</h2>
                <h2>Intelligence:-{{single_cat.data.intelligence}}</h2>
                <h2>Adaptibility:-{{single_cat.data.adaptability}}</h2>
                <h2>Social Needs:-{{single_cat.data.social_needs}}</h2>
                <h2>Stranger Friendly:-{{single_cat.data.stranger_friendly}}</h2>
                <h2>Vocalization:-{{single_cat.data.vocalisation}}</h2>
            </div>
        </div>
    </div>
    <a href="/" class='mt-4 p-3 bg-black text-white rounded-xl block text-center'>Go Back</a>
</div>
</body>
</html>