{% extends "templates/layout.html" %}

{% block content %}
<main class="flex-1 ml-64 p-6 md:ml-64">
    <h1 class="text-3xl font-semibold text-gray-700">Welcome to College Manager</h1>
    
    <div class='grid grid-cols-2 gap-4 mt-4'>
        <div class='border-none rounded-xl bg-slate-200 flex flex-col justify-center items-center p-4 shadow-xl'>
            <h1 class='text-3xl font-semibold text-gray-800'>Total Job Offers</h1>
            <h2 class='text-4xl text-gray-900 font-bold'>100+</h2>
        </div>
        <div class='border-none rounded-xl bg-slate-200 flex flex-col justify-center items-center p-4 shadow-xl'>
            <h1 class='text-3xl font-semibold text-gray-800'>Total Students</h1>
            <h2 class='text-4xl text-gray-900 font-bold'>200+</h2>
        </div>
        <div class='border-none rounded-xl bg-slate-200 flex flex-col justify-center items-center p-4 shadow-xl'>
            <h1 class='text-3xl font-semibold text-gray-800'>Total Courses</h1>
            <h2 class='text-4xl text-gray-900 font-bold'>10+</h2>
        </div>
    </div>
  </main>
{% endblock %}