{% extends "layout.html" %}

<div class='flex justify-center items-center h-screen'>
    {% block content %}
    <h1 class='text-center font-bold text-[2rem]'>{{single_product.product_name}} Deatils</h1>
    <div class='w-full bg-gray-700 mb-6 p-4 rounded-xl'>
        <h1>Name: {{single_product.product_name}}</h1>
        <h3>Category: {{single_product.product_category}}</h3>
        <p>Price: {{single_product.product_price}}</p>
        <p>Descirption: {{single_product.product_description}}</p>
    </div>
    <a href="/" class='p-3 rounded-md text-white bg-orange-400 font-bold'>Back</a>
    {% endblock %}
</div>
