{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechTweet</title>
    {% tailwind_css %}
</head>
<body class='bg-gray-700'>
    
   
    {% block content %}


          <nav class='w-full shadow-2xl rounded-xl flex justify-around items-center p-5'>
              <div class='text-white text-center text-[3rem] font-semibold'>
                  Welcome to TechTweet
              </div>
              
              {% if request.user.is_authenticated %}
                    <div class='text-white text-xl flex space-x-4 items-center'>
                      <p>{{ request.user.username }}</p>
                      <a href='logout/' class='rounded-lg px-3 py-2 bg-orange-400 text-white font-bold'>Logout</a>
                    </div>
              {% else %}
                    <div class='space-x-3'>
                      <a href="login/" class='rounded-lg px-3 py-2 bg-orange-400 text-white font-bold'>Login</a>
                      <a href="register/" class='rounded-lg px-3 py-2 bg-orange-400 text-white font-bold'>Register</a>
                    </div>
              {% endif %}
          </nav>


        <h1 class='text-3xl text-white text-center font-semibold mt-4'>All Tweets</h1>
        {% if request.user.is_authenticated %}
                <a
            href="create_tweet/"
                class="inline-block mx-3 mt-4 p-3 font-semibold tracking-wide rounded-md  text-white bg-orange-400"
              >
                Create New Tweet
            </a>
        {% else %}
                <p class='text-white underline underline-offset-2 text-2xl text-center mt-4'>Please login to create or modify a tweet</p> 
        {% endif %}
         


        <div class='grid grid-cols-3 gap-4 mt-4 '>
            {% for tweet in all_tweets %}
        <div class="flex flex-col justify-between shadow-xl rounded-xl p-6 space-y-8 text-white">
          <div class="space-y-2">
            <h2 class="text-3xl text-white font-semibold tracking-wide">{{tweet.tweet_title}}</h2>
            <hr/>
            <p class="text-white">
              {{tweet.tweet_message}}
            </p>
          </div>

          <div class='flex justify-between items-center'>
            <h5>Created by: <span class='text-orange-300 font-semibold'>{{tweet.user.username}}</span></h5>
            <h5>{{tweet.created_at}}</h5>
          </div>
          
          {% if request.user.is_authenticated and request.user.username == tweet.user.username%}
                          <div class='flex justify-around items-center gap-4'>
                                <a
                                href="{% url 'edit_tweet' tweet.id %}"
                                class="flex items-center justify-center w-full p-3 font-semibold tracking-wide rounded-md  text-white bg-orange-400"
                              >
                                Edit Tweet
                                </a>
                              <a
                              href="{% url 'delete_tweet' tweet.id %}"
                              class="flex items-center justify-center w-full p-3 font-semibold tracking-wide rounded-md  text-white bg-red-400"
                            >
                              Delete Tweet
                              </a>
                          </div>
          {% endif %}
          
        </div>
      
            {% endfor %}
        </div>
    {% endblock %}
</body>
</html>