{% extends "./index.html" %}

{% block content %}
    

<form class="max-w-lg mx-auto my-4 rounded-xl shadow-xl border border-white p-4 " method='post' action="/">
    {% csrf_token %}
    <h1  class="block text-center mb-2  text-3xl text-white ">Create new Tweet</h1>
    <hr class='border-white my-4'>


  <div class="mb-5">
    <label for="email" class="block mb-2  text-xl text-white ">Tweet User</label>
    <input type="text" readonly value='{{user}}' class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required name='tweet_user'/>
  </div>



  <div class="mb-5">
    <label for="email" class="block mb-2  text-xl text-white ">Tweet Title</label>
    <input type="text" id="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required name='tweet_title'/>
  </div>


  <div class="mb-5">
    <label for="password" class="block mb-2  text-xl text-white ">Your Message</label>
    <textarea class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required name='tweet_message'></textarea>
  </div>
  
  <button  class="text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">Create</button>
</form>

{% endblock %}